@font-face {
  font-family: 'tomorrow';
  src:  url('./assets/fonts/tomorrow.eot?z4a6ug');
  src:  url('./assets/fonts/tomorrow.eot?z4a6ug#iefix') format('embedded-opentype'),
  url('./assets/fonts/tomorrow.ttf?z4a6ug') format('truetype'),
  url('./assets/fonts/tomorrow.woff?z4a6ug') format('woff'),
  url('./assets/fonts/tomorrow.svg?z4a6ug#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}